body {
    margin: 0px !important;
    background-image: url("index.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
   text-align: center;
color: white;
		
}
.container {
	border-radius: 5px;
	background-color: transparent;
	padding: 30px;
}
.btn{
  background-color:green; /* Green */
  border: none;
  color: white;
  padding: 12px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 145px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn:hover {
	background-color: #ea791f;
}
fieldset{
	  background-color: rgb(0,0,25); /* Fallback color */
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
	align-self: center;
	max-width: 500px;
	margin: 100px 400px;
	padding: 15px;
border-radius: 15px;
}
legend{
   	text-align: center;
	color:white;
}
.footer-center{
	color:green;
   padding: 10px;
   text-align: center;
}
